@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-container {
    @apply container mx-auto bg-gray-200 text-gray-950 dark:bg-gray-900 dark:text-gray-200;
  }

  .btn-primary {
    @apply py-2 px-4 bg-indigo-600 text-white font-semibold rounded-lg shadow-md transition-all ease-in duration-200 hover:bg-indigo-400;
  }

  .btn-text {
    @apply py-2 font-semibold text-indigo-900 dark:text-indigo-400 rounded-md p-1 bg-transparent transition-colors ease-in duration-200 hover:text-indigo-400 hover:bg-indigo-700 hover:bg-opacity-30;
  }

  .btn-text-secondary {
    @apply py-2 font-semibold text-indigo-900 dark:text-indigo-400 rounded-md p-1 bg-transparent transition-colors ease-in duration-200 hover:text-indigo-400 hover:bg-indigo-700 hover:bg-opacity-30;
  }

  .elevated-card {
    @apply bg-gray-200 dark:bg-gray-800 p-4 rounded-lg drop-shadow-lg;
  }
}

input[type=file]::file-selector-button {
  @apply btn-primary py-3;
  border: none;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  font-weight: 600;
  transition: background .2s ease-in-out;
}

html {
  @apply bg-gray-200 text-gray-950 dark:bg-gray-900 dark:text-gray-200;
}

a {
  @apply text-indigo-500 dark:text-indigo-400 underline;
}

.no-select {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
